System/a.exe
System/b.exe
System/b.py
System/c.py
System/continuous_mouse_clicks.txt
System/d.py
Youtube/Looking For Some Girls (Bombs Away Mix).mp4
Youtube/ytcookies.txt
Youtube/new.txt
Joplin/.env
Joplin/Joplin API calls.txt
